* {
    margin: 0%;
    padding: 0%;
}
body {
    font-family: "Allerta", sans-serif;
 }
 header {
    background-size: 100vw 25vh;
    height: 200px;
    background-image: url("photo/head\ bg.png");
 }
 h1 {
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 45%;
    left: 21%;
}
.flexContainer {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    padding-right: 10px;
}
#gridItems {
    width: 360px;
    height: 246px;
    background-size: cover;
    display: flex;
    border-radius: 4px;
    justify-content: center;
}
.first {
    background-image: url("photo/Rectangle\ 14.png");
}
.second {
    background-image: url("photo/Rectangle\ 14\ \(1\).png");
}
.third {
    background-image: url("photo/Rectangle\ 14\ \(2\).png");
}
.fourth {
    background-image: url("photo/Rectangle\ 14\ \(3\).png");
}
.fifth {
    background-image: url("photo/Rectangle\ 14\ \(4\).png");
}
.sixth {
    background-image: url("photo/Rectangle\ 14.png");
}
.seventh {
    background-image: url("photo/Rectangle\ 14\ \(2\).png");
}
.eighth {
    background-image: url("photo/Rectangle\ 14\ \(1\).png");
}
.ninth {
    background-image: url("photo/Rectangle\ 14\ \(5\).png");
}
.whitePart {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.962);
    width: 310px;
    height: 86px;
    margin-top: 120px;
    border-radius: 6px;
    line-height: 16px;
}
h2{
    font-size: 14px;
    font-weight: 400;
}
p {
    font-size: 12px;
    font-weight: 200;
    color: gray;
    padding: 10px 0px;
}
a, .arrow {
    font-size: 12px;
    text-decoration: none;
    color: rgba(89, 32, 188, 1);
}
.arrow {
    width: 12px;
    border-width: 1px;
    height: 12px;
    border-radius: 6px;
    border-style: solid;
    border-color: rgb(226, 202, 250);
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
    font-size: 9px;
}
.bookArrow {
    display: flex;
}

/*perviy*/
@media screen  and (min-width: 1109px){
    header {
        position: relative;
     }
    .flexContainer {
        position: relative;
    }
}


/*vtoroy*/
@media screen and (max-width: 1109px) {
    header {
        position: relative;
     }
     main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 24px;
        padding-top: 100px;
        padding-left: 70px;
    }
}
/*tretiy*/
@media screen and (max-width: 650px){
    
    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 20px;
    }
}
